@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
ul{
	list-style: none;
}

.nav-links li:hover{
	text-decoration: underline;
	background-color: #F5DEB3;
	color:black;
}
.active{
	text-decoration: none;
	font-weight: bold;
}
.navbar{
	position: absolute;
	top:0;
	left:0;
	display:flex;
	width:100%;
	justify-content: space-between;
	padding: 20px;
	color:whitesmoke;
}

.nav-links{
	display: flex;
	align-items: center;
}

.nav-links li{
	margin:0 30px;
	font-variant: small-caps;
	font-size: 20px;
}
header {
	width:100vw;
	height:100vh;
	background-image: url('9.jpeg');
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;

}

.header-content {
	margin-bottom: 150px;
	color: whitesmoke;
	text-align:center;
	font-variant: small-caps;
}

.header-content h2{
	font-size:4vmin;
}

.line{
	width:150px;
	height:4px;
	background:#F5DEB3;
	margin:10px auto;
	border-radius: 5px;
}

.header-content h1{
	font-size:7vmin;
	margin-top:50px;
	margin-bottom:30px;
	font-variant: small-caps;
}

.ctn {
	padding: 8px 15px;
	background:#F5DEB3;
	border-radius: 30px;
	color:black;
	font-variant: small-caps;
}
